body {
	background: rgb(63,96,204);
	background: linear-gradient(318deg, rgba(63,96,204,1) 6%, rgba(1,6,18,1) 98%);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    height: 100%;
}

input {
	border-style: none;
	float: right;
	border-radius: 5px;
}

button {
	border-style: none;
	border-radius: 5px;
}

input {
	background: white;
}

footer {
	color: white;
	position: fixed;
    text-align: center;
    padding: 10px; /*10px 0px 10px;*/
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #222;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #222;
}

td a {
	background: rgba(red, green, blue, 1);
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	bottom: 0px;
}

li a:hover {
  	background-color: #688ecc;
}

li .logo:hover {
	background-color: #333;
	color: white;
}

.logo {
	float: left;
	font-weight: bolder;
}

.left {
	float: left;
}

.container {
	color: white;
	position: relative;
	top: 200px;
	text-align: center;
	background: #222;
	width: 350px;
	padding: 20px;
	height: auto;
	border-radius: 15px;
}

.poem-box {
	visibility: hidden;
	top: 5%;
	width: 800px;
	max-height: 810px;
	overflow-y: auto;
	scrollbar-width: thin;
}

.container2 {
	position: relative;
	height: 700px;
	text-align: center;
}

.container2 h1 {
	margin: 0;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	color: ghostwhite;
	transition: all 0.4s linear;
	font-size: 200px;
}

.success {
	display: none;
	position: relative;
	top: 200px;
	text-align: center;
	background: #222;
	width: 350px;
	padding: 20px;
	height: auto;
	border-radius: 15px;
}

.header:hover {
	color: #000;
}

.right {
	float: right;
}

.note {
	position: relative;
	top: 37%;
	text-align: center;
	font-size: xx-large;
	color: white;
}

.search-bar-container {
	width: auto;
	text-align: center;
}

.search-bar {
	flex: auto;
	text-align: center;
	position: relative;
	display: inline-block;
}

.search-bar input {
	float: left;
	padding: 10px;
	margin: 2.5px;
	height: 40px;
	width: 700px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}

.search-bar button {
	padding: 10px;
	margin: 2.5px;
	height: 40px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

.table-wrapper {
	position: relative;
	top: 5%;
	overflow: hidden;
	overflow-y: scroll;
	height: 78%;
}

.loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: 
                url('../img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

.loading {
    visibility: hidden;
}

.loading {
    display: block;
}

#poem {
	font-size: larger;
	white-space: pre-wrap;
	text-align: left;
	display: inline-block;
}

#error {
	color: red;
}

#result {
	width: 1000px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: left;
/*	overflow-y: scroll;
	max-height: 78%;
	display: block;*/
}

/* width */
::-webkit-scrollbar {
	right: 5px;
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #333;
	border-radius: 25px;
}